.error {
    color: red;
}
.container {
    display: flex;
    justify-content: space-around;

}

.imgsize {
    width: 100px;
    height: 100px;
}
.margin {
    margin-right: 10px;
    margin-left: 10px;
}
.caption{
    padding: 10px;
    caption-side:bottom;
    text-align: center;
}
* {
    box-sizing: border-box;
}
.row {
    display: flex;
}
img {
    border: 1px solid #ddd;
    /* Gray border */
    border-radius: 4px;
    /* Rounded border */
    padding: 10px;
    /* Some padding */
    width: 50%;
    /* Set a small width */
    margin: auto;

}
.column {
    flex: 33.33%;
    padding: 5px;
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
    margin-left: 30px;



}
.styleclass {
    display: flex;
    flex-direction: row;
}
